/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a71de7;
  color: #ffffff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

.hero {
  background-color: #d870f8a4;
  padding: 80px 20px;
  text-align: center;
}

.card-gallery {
  padding: 40px 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #d870f8a4;
  box-shadow: 0 2px 6px rgba(35, 0, 46, 0.541);
  padding: 20px;
  text-align: center;
}

.card h3 {
  margin-top: 0;
}

.print-btn {
  display: inline-block;
  background-color: #9203bd;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-cards {
  background-color: #d870f8a4;
  padding: 40px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #9203bd;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  background-color: #a71de7;
  color: #000000;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-content ul li {
  margin: 0 10px;
}

.footer-content ul li a {
  color: #000000;
  text-decoration: none;
}
